USE [master]
GO
/****** Object:  Database [SAPLS]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE DATABASE [SAPLS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAPLS', FILENAME = N'D:\SQLServer 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\SAPLS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAPLS_log', FILENAME = N'D:\SQLServer 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\SAPLS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAPLS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAPLS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminProfile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfile](
	[UserId] [nvarchar](36) NOT NULL,
	[AdminId] [nvarchar](20) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachedFile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachedFile](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[UploadAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientProfile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProfile](
	[UserId] [nvarchar](36) NOT NULL,
	[CitizenId] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Nationality] [nvarchar](100) NOT NULL,
	[PlaceOfOrigin] [nvarchar](255) NOT NULL,
	[PlaceOfResidence] [nvarchar](255) NOT NULL,
	[ShareCode] [nvarchar](20) NOT NULL,
	[CitizenIdCardImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShareCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidenceEvidence]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidenceEvidence](
	[Id] [nvarchar](36) NOT NULL,
	[IncidenceReportId] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidenceReport]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidenceReport](
	[Id] [nvarchar](36) NOT NULL,
	[Header] [nvarchar](255) NOT NULL,
	[ReportedDate] [datetime2](7) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ReporterId] [nvarchar](36) NOT NULL,
	[ParkingLotId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK__Incidenc__3214EC07D412DE08] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Incidenc__3214EC06DE213DDD] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingFeeSchedule]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingFeeSchedule](
	[Id] [nvarchar](36) NOT NULL,
	[StartTime] [int] NOT NULL,
	[EndTime] [int] NOT NULL,
	[InitialFee] [decimal](8, 2) NOT NULL,
	[AdditionalFee] [decimal](8, 2) NOT NULL,
	[AdditionalMinutes] [int] NOT NULL,
	[DayOfWeeks] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ForVehicleType] [nvarchar](20) NOT NULL,
	[ParkingLotId] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLot]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLot](
	[Id] [nvarchar](36) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Address] [nvarchar](500) NOT NULL,
	[TotalParkingSlot] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Settings] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ParkingLotOwnerId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK__ParkingL__3214EC07D98A3F04] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ParkingL__3214EC066134085F] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLotOwnerProfile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLotOwnerProfile](
	[UserId] [nvarchar](36) NOT NULL,
	[ParkingLotOwnerId] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ParkingLotOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSession]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSession](
	[Id] [nvarchar](36) NOT NULL,
	[VehicleId] [nvarchar](36) NOT NULL,
	[ParkingLotId] [nvarchar](36) NOT NULL,
	[EntryDateTime] [datetime2](7) NOT NULL,
	[ExitDateTime] [datetime2](7) NULL,
	[CheckOutDateTime] [datetime2](7) NULL,
	[EntryFrontCaptureUrl] [nvarchar](500) NOT NULL,
	[EntryBackCaptureUrl] [nvarchar](500) NOT NULL,
	[ExitFrontCaptureUrl] [nvarchar](500) NULL,
	[ExitBackCaptureUrl] [nvarchar](500) NULL,
	[TransactionId] [nvarchar](36) NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[PaymentStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ParkingS__3214EC076244C9DD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ParkingS__3214EC06ED8B4805] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__ParkingS__55433A6AF76245F4] UNIQUE NONCLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentSource]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentSource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[AccountName] [nvarchar](255) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ParkingLotOwnerId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK__PaymentS__3214EC074DD2D6E5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__PaymentS__3214EC064155607D] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [nvarchar](36) NOT NULL,
	[Header] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[InternalNote] [nvarchar](1000) NULL,
	[ResponseMessage] [nvarchar](2000) NULL,
	[LastUpdatePersonId] [nvarchar](36) NULL,
	[Type] [nvarchar](50) NULL,
	[Data] [nvarchar](max) NULL,
	[SenderId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK__Request__3214EC07B2ACCA82] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Request__3214EC06DDE85BED] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestAttachedFile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestAttachedFile](
	[Id] [nvarchar](36) NOT NULL,
	[RequestId] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedVehicle]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedVehicle](
	[Id] [nvarchar](36) NOT NULL,
	[VehicleId] [nvarchar](36) NOT NULL,
	[AccessDuration] [int] NULL,
	[InviteAt] [datetime2](7) NOT NULL,
	[AcceptAt] [datetime2](7) NULL,
	[ExpireAt] [datetime2](7) NULL,
	[Note] [nvarchar](500) NULL,
	[SharedPersonId] [nvarchar](36) NOT NULL,
 CONSTRAINT [PK__SharedVe__3214EC07EDA49C12] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__SharedVe__3214EC065D8B45A9] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftDiary]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftDiary](
	[Id] [nvarchar](36) NOT NULL,
	[Header] [nvarchar](255) NOT NULL,
	[Body] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ParkingLotId] [nvarchar](36) NOT NULL,
	[SenderId] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffProfile]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffProfile](
	[UserId] [nvarchar](36) NOT NULL,
	[StaffId] [nvarchar](20) NOT NULL,
	[ParkingLotId] [nvarchar](36) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](36) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[ProfileImageUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[OneTimePassword] [nvarchar](24) NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__User__3214EC0786524D8F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__3214EC06366C8D89] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__5C7E359E4EC59181] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__User__A9D1053456547DAC] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [nvarchar](36) NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[EngineNumber] [nvarchar](50) NOT NULL,
	[ChassisNumber] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[OwnerVehicleFullName] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SharingStatus] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[OwnerId] [nvarchar](36) NOT NULL,
	[VehicleRegistrationCertificateUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WhiteList]    Script Date: 7/29/2025 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WhiteList](
	[ParkingLotId] [nvarchar](36) NOT NULL,
	[ClientId] [nvarchar](36) NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK__WhiteLis__3140FF2BC4A11819] PRIMARY KEY CLUSTERED 
(
	[ParkingLotId] ASC,
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminProfile_AdminId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminProfile_AdminId] ON [dbo].[AdminProfile]
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AdminProfile_Role]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AdminProfile_Role] ON [dbo].[AdminProfile]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AttachedFile_Name]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttachedFile_Name] ON [dbo].[AttachedFile]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttachedFile_UploadAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_AttachedFile_UploadAt] ON [dbo].[AttachedFile]
(
	[UploadAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClientProfile_CitizenId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientProfile_CitizenId] ON [dbo].[ClientProfile]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ClientProfile_ShareCode]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClientProfile_ShareCode] ON [dbo].[ClientProfile]
(
	[ShareCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IncidenceReport_Priority]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_IncidenceReport_Priority] ON [dbo].[IncidenceReport]
(
	[Priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IncidenceReport_ReportedDate]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_IncidenceReport_ReportedDate] ON [dbo].[IncidenceReport]
(
	[ReportedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IncidenceReport_ReporterId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_IncidenceReport_ReporterId] ON [dbo].[IncidenceReport]
(
	[ReporterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_IncidenceReport_Status]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_IncidenceReport_Status] ON [dbo].[IncidenceReport]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingFeeSchedule_ForVehicleType]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingFeeSchedule_ForVehicleType] ON [dbo].[ParkingFeeSchedule]
(
	[ForVehicleType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingFeeSchedule_IsActive]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingFeeSchedule_IsActive] ON [dbo].[ParkingFeeSchedule]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingFeeSchedule_ParkingLotId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingFeeSchedule_ParkingLotId] ON [dbo].[ParkingFeeSchedule]
(
	[ParkingLotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLot_CreatedAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLot_CreatedAt] ON [dbo].[ParkingLot]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingLot_ParkingLotOwnerId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLot_ParkingLotOwnerId] ON [dbo].[ParkingLot]
(
	[ParkingLotOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingLot_Status]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLot_Status] ON [dbo].[ParkingLot]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingLotOwnerProfile_ParkingLotOwnerId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLotOwnerProfile_ParkingLotOwnerId] ON [dbo].[ParkingLotOwnerProfile]
(
	[ParkingLotOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingSession_EntryDateTime]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSession_EntryDateTime] ON [dbo].[ParkingSession]
(
	[EntryDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingSession_ExitDateTime]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSession_ExitDateTime] ON [dbo].[ParkingSession]
(
	[ExitDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingSession_ParkingLotId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSession_ParkingLotId] ON [dbo].[ParkingSession]
(
	[ParkingLotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingSession_PaymentMethod]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSession_PaymentMethod] ON [dbo].[ParkingSession]
(
	[PaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingSession_VehicleId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingSession_VehicleId] ON [dbo].[ParkingSession]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentSource_ParkingLotOwnerId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentSource_ParkingLotOwnerId] ON [dbo].[PaymentSource]
(
	[ParkingLotOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_LastUpdatePersonId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_LastUpdatePersonId] ON [dbo].[Request]
(
	[LastUpdatePersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_SenderId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_SenderId] ON [dbo].[Request]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_Status]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_Status] ON [dbo].[Request]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_SubmittedAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_SubmittedAt] ON [dbo].[Request]
(
	[SubmittedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedVehicle_AcceptAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedVehicle_AcceptAt] ON [dbo].[SharedVehicle]
(
	[AcceptAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedVehicle_ExpireAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedVehicle_ExpireAt] ON [dbo].[SharedVehicle]
(
	[ExpireAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedVehicle_InviteAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedVehicle_InviteAt] ON [dbo].[SharedVehicle]
(
	[InviteAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SharedVehicle_SharedPersonId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedVehicle_SharedPersonId] ON [dbo].[SharedVehicle]
(
	[SharedPersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SharedVehicle_VehicleId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedVehicle_VehicleId] ON [dbo].[SharedVehicle]
(
	[VehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShiftDiary_CreatedAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftDiary_CreatedAt] ON [dbo].[ShiftDiary]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShiftDiary_ParkingLotId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftDiary_ParkingLotId] ON [dbo].[ShiftDiary]
(
	[ParkingLotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShiftDiary_SenderId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShiftDiary_SenderId] ON [dbo].[ShiftDiary]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaffProfile_ParkingLotId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_StaffProfile_ParkingLotId] ON [dbo].[StaffProfile]
(
	[ParkingLotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StaffProfile_StaffId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_StaffProfile_StaffId] ON [dbo].[StaffProfile]
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_CreatedAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_CreatedAt] ON [dbo].[User]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Status]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Status] ON [dbo].[User]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicle_CreatedAt]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_CreatedAt] ON [dbo].[Vehicle]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicle_LicensePlate]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_LicensePlate] ON [dbo].[Vehicle]
(
	[LicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicle_OwnerId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_OwnerId] ON [dbo].[Vehicle]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicle_SharingStatus]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_SharingStatus] ON [dbo].[Vehicle]
(
	[SharingStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicle_Status]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicle_Status] ON [dbo].[Vehicle]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WhiteList_AddedDate]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_WhiteList_AddedDate] ON [dbo].[WhiteList]
(
	[AddedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WhiteList_ClientId]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_WhiteList_ClientId] ON [dbo].[WhiteList]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WhiteList_ExpiredDate]    Script Date: 7/29/2025 3:58:12 PM ******/
CREATE NONCLUSTERED INDEX [IX_WhiteList_ExpiredDate] ON [dbo].[WhiteList]
(
	[ExpireAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttachedFile] ADD  DEFAULT (getdate()) FOR [UploadAt]
GO
ALTER TABLE [dbo].[ClientProfile] ADD  DEFAULT ((1)) FOR [Sex]
GO
ALTER TABLE [dbo].[IncidenceReport] ADD  CONSTRAINT [DF__Incidence__Repor__75A278F5]  DEFAULT (getdate()) FOR [ReportedDate]
GO
ALTER TABLE [dbo].[IncidenceReport] ADD  CONSTRAINT [DF__Incidence__Prior__76969D2E]  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[IncidenceReport] ADD  CONSTRAINT [DF__Incidence__Statu__778AC167]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT ((0.00)) FOR [InitialFee]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT ((0.00)) FOR [AdditionalFee]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT ((60)) FOR [AdditionalMinutes]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT (NULL) FOR [DayOfWeeks]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] ADD  DEFAULT ('Car') FOR [ForVehicleType]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  CONSTRAINT [DF__ParkingLo__Descr__7F2BE32F]  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  CONSTRAINT [DF__ParkingLo__Total__00200768]  DEFAULT ((0)) FOR [TotalParkingSlot]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  CONSTRAINT [DF__ParkingLo__Creat__01142BA1]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  CONSTRAINT [DF__ParkingLo__Updat__02084FDA]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ParkingLot] ADD  CONSTRAINT [DF__ParkingLo__Statu__02FC7413]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__Entry__03F0984C]  DEFAULT (getdate()) FOR [EntryDateTime]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__ExitD__04E4BC85]  DEFAULT (NULL) FOR [ExitDateTime]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__Check__05D8E0BE]  DEFAULT (NULL) FOR [CheckOutDateTime]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__ExitF__06CD04F7]  DEFAULT (NULL) FOR [ExitFrontCaptureUrl]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__ExitB__07C12930]  DEFAULT (NULL) FOR [ExitBackCaptureUrl]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__Trans__08B54D69]  DEFAULT (NULL) FOR [TransactionId]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSe__Payme__09A971A2]  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[ParkingSession] ADD  CONSTRAINT [DF__ParkingSes__Cost__0A9D95DB]  DEFAULT ((0.00)) FOR [Cost]
GO
ALTER TABLE [dbo].[PaymentSource] ADD  CONSTRAINT [DF__PaymentSo__Updat__0B91BA14]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Status__5AEE82B9]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Submitt__5BE2A6F2]  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Updated__5CD6CB2B]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Interna__5DCAEF64]  DEFAULT (NULL) FOR [InternalNote]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Respons__5EBF139D]  DEFAULT (NULL) FOR [ResponseMessage]
GO
ALTER TABLE [dbo].[ShiftDiary] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__ProfileIma__1332DBDC]  DEFAULT (NULL) FOR [ProfileImageUrl]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Status__14270015]  DEFAULT ('Inactive') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__CreatedAt__151B244E]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__UpdatedAt__160F4887]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ('Inactive') FOR [Status]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ('Unavailable') FOR [SharingStatus]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WhiteList] ADD  CONSTRAINT [DF__WhiteList__Added__68487DD7]  DEFAULT (CONVERT([date],getdate())) FOR [AddedAt]
GO
ALTER TABLE [dbo].[WhiteList] ADD  CONSTRAINT [DF__WhiteList__Expir__693CA210]  DEFAULT (NULL) FOR [ExpireAt]
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD  CONSTRAINT [AdminProfile_fk0] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdminProfile] CHECK CONSTRAINT [AdminProfile_fk0]
GO
ALTER TABLE [dbo].[ClientProfile]  WITH CHECK ADD  CONSTRAINT [ClientProfile_fk0] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientProfile] CHECK CONSTRAINT [ClientProfile_fk0]
GO
ALTER TABLE [dbo].[IncidenceEvidence]  WITH CHECK ADD  CONSTRAINT [IncidenceEvidence_fk0] FOREIGN KEY([Id])
REFERENCES [dbo].[AttachedFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidenceEvidence] CHECK CONSTRAINT [IncidenceEvidence_fk0]
GO
ALTER TABLE [dbo].[IncidenceEvidence]  WITH CHECK ADD  CONSTRAINT [IncidenceEvidence_fk1] FOREIGN KEY([IncidenceReportId])
REFERENCES [dbo].[IncidenceReport] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidenceEvidence] CHECK CONSTRAINT [IncidenceEvidence_fk1]
GO
ALTER TABLE [dbo].[IncidenceReport]  WITH CHECK ADD  CONSTRAINT [FK_IncidenceReport_ParkingLot] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
GO
ALTER TABLE [dbo].[IncidenceReport] CHECK CONSTRAINT [FK_IncidenceReport_ParkingLot]
GO
ALTER TABLE [dbo].[IncidenceReport]  WITH CHECK ADD  CONSTRAINT [IncidenceReport_fk6] FOREIGN KEY([ReporterId])
REFERENCES [dbo].[StaffProfile] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IncidenceReport] CHECK CONSTRAINT [IncidenceReport_fk6]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule]  WITH CHECK ADD  CONSTRAINT [ParkingFeeSchedule_fk10] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] CHECK CONSTRAINT [ParkingFeeSchedule_fk10]
GO
ALTER TABLE [dbo].[ParkingLot]  WITH CHECK ADD  CONSTRAINT [ParkingLot_fk8] FOREIGN KEY([ParkingLotOwnerId])
REFERENCES [dbo].[ParkingLotOwnerProfile] ([UserId])
GO
ALTER TABLE [dbo].[ParkingLot] CHECK CONSTRAINT [ParkingLot_fk8]
GO
ALTER TABLE [dbo].[ParkingLotOwnerProfile]  WITH CHECK ADD  CONSTRAINT [ParkingLotOwnerProfile_fk0] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingLotOwnerProfile] CHECK CONSTRAINT [ParkingLotOwnerProfile_fk0]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [ParkingSession_fk1] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [ParkingSession_fk1]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [ParkingSession_fk2] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [ParkingSession_fk2]
GO
ALTER TABLE [dbo].[PaymentSource]  WITH CHECK ADD  CONSTRAINT [PaymentSource_fk5] FOREIGN KEY([ParkingLotOwnerId])
REFERENCES [dbo].[ParkingLotOwnerProfile] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentSource] CHECK CONSTRAINT [PaymentSource_fk5]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [Request_fk_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [Request_fk_Sender]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [Request_fk8] FOREIGN KEY([LastUpdatePersonId])
REFERENCES [dbo].[AdminProfile] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [Request_fk8]
GO
ALTER TABLE [dbo].[RequestAttachedFile]  WITH CHECK ADD  CONSTRAINT [RequestAttachedFile_fk0] FOREIGN KEY([Id])
REFERENCES [dbo].[AttachedFile] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestAttachedFile] CHECK CONSTRAINT [RequestAttachedFile_fk0]
GO
ALTER TABLE [dbo].[RequestAttachedFile]  WITH CHECK ADD  CONSTRAINT [RequestAttachedFile_fk1] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Request] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestAttachedFile] CHECK CONSTRAINT [RequestAttachedFile_fk1]
GO
ALTER TABLE [dbo].[SharedVehicle]  WITH CHECK ADD  CONSTRAINT [SharedVehicle_fk1] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SharedVehicle] CHECK CONSTRAINT [SharedVehicle_fk1]
GO
ALTER TABLE [dbo].[SharedVehicle]  WITH CHECK ADD  CONSTRAINT [SharedVehicle_fk7] FOREIGN KEY([SharedPersonId])
REFERENCES [dbo].[ClientProfile] ([UserId])
GO
ALTER TABLE [dbo].[SharedVehicle] CHECK CONSTRAINT [SharedVehicle_fk7]
GO
ALTER TABLE [dbo].[ShiftDiary]  WITH CHECK ADD  CONSTRAINT [ShiftDiary_fk4] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftDiary] CHECK CONSTRAINT [ShiftDiary_fk4]
GO
ALTER TABLE [dbo].[ShiftDiary]  WITH CHECK ADD  CONSTRAINT [ShiftDiary_fk5] FOREIGN KEY([SenderId])
REFERENCES [dbo].[StaffProfile] ([UserId])
GO
ALTER TABLE [dbo].[ShiftDiary] CHECK CONSTRAINT [ShiftDiary_fk5]
GO
ALTER TABLE [dbo].[StaffProfile]  WITH CHECK ADD  CONSTRAINT [StaffProfile_fk0] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffProfile] CHECK CONSTRAINT [StaffProfile_fk0]
GO
ALTER TABLE [dbo].[StaffProfile]  WITH CHECK ADD  CONSTRAINT [StaffProfile_fk2] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffProfile] CHECK CONSTRAINT [StaffProfile_fk2]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [Vehicle_fk12] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[ClientProfile] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [Vehicle_fk12]
GO
ALTER TABLE [dbo].[WhiteList]  WITH CHECK ADD  CONSTRAINT [WhiteList_fk0] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLot] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WhiteList] CHECK CONSTRAINT [WhiteList_fk0]
GO
ALTER TABLE [dbo].[WhiteList]  WITH CHECK ADD  CONSTRAINT [WhiteList_fk1] FOREIGN KEY([ClientId])
REFERENCES [dbo].[ClientProfile] ([UserId])
GO
ALTER TABLE [dbo].[WhiteList] CHECK CONSTRAINT [WhiteList_fk1]
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD  CONSTRAINT [CK_AdminProfile_Role] CHECK  (([Role]='Admin' OR [Role]='HeadAdmin'))
GO
ALTER TABLE [dbo].[AdminProfile] CHECK CONSTRAINT [CK_AdminProfile_Role]
GO
ALTER TABLE [dbo].[IncidenceReport]  WITH CHECK ADD  CONSTRAINT [CK_IncidenceReport_Priority] CHECK  (([Priority]='Critical' OR [Priority]='High' OR [Priority]='Medium' OR [Priority]='Low'))
GO
ALTER TABLE [dbo].[IncidenceReport] CHECK CONSTRAINT [CK_IncidenceReport_Priority]
GO
ALTER TABLE [dbo].[IncidenceReport]  WITH CHECK ADD  CONSTRAINT [CK_IncidenceReport_Status] CHECK  (([Status]='Closed' OR [Status]='Resolved' OR [Status]='InProgress' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[IncidenceReport] CHECK CONSTRAINT [CK_IncidenceReport_Status]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ParkingFeeSchedule_Fees] CHECK  (([InitialFee]>=(0) AND [AdditionalFee]>=(0)))
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] CHECK CONSTRAINT [CK_ParkingFeeSchedule_Fees]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ParkingFeeSchedule_Time] CHECK  (([StartTime]>=(0) AND [StartTime]<=(1439) AND [EndTime]>=(0) AND [EndTime]<=(1439)))
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] CHECK CONSTRAINT [CK_ParkingFeeSchedule_Time]
GO
ALTER TABLE [dbo].[ParkingFeeSchedule]  WITH CHECK ADD  CONSTRAINT [CK_ParkingFeeSchedule_VehicleType] CHECK  (([ForVehicleType]='Bike' OR [ForVehicleType]='Motorbike' OR [ForVehicleType]='Car'))
GO
ALTER TABLE [dbo].[ParkingFeeSchedule] CHECK CONSTRAINT [CK_ParkingFeeSchedule_VehicleType]
GO
ALTER TABLE [dbo].[ParkingLot]  WITH CHECK ADD  CONSTRAINT [CK_ParkingLot_Slots] CHECK  (([TotalParkingSlot]>=(0)))
GO
ALTER TABLE [dbo].[ParkingLot] CHECK CONSTRAINT [CK_ParkingLot_Slots]
GO
ALTER TABLE [dbo].[ParkingLot]  WITH CHECK ADD  CONSTRAINT [CK_ParkingLot_Status] CHECK  (([Status]='Closed' OR [Status]='Maintenance' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ParkingLot] CHECK CONSTRAINT [CK_ParkingLot_Status]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [CK_ParkingSession_Cost] CHECK  (([Cost]>=(0)))
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [CK_ParkingSession_Cost]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [CK_ParkingSession_PaymentMethod] CHECK  (([PaymentMethod]='Bank' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [CK_ParkingSession_PaymentMethod]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [CK_ParkingSession_PaymentStatus] CHECK  (([PaymentStatus]='Paid' OR [PaymentStatus]='Not paid'))
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [CK_ParkingSession_PaymentStatus]
GO
ALTER TABLE [dbo].[ParkingSession]  WITH CHECK ADD  CONSTRAINT [CK_ParkingSession_Status] CHECK  (([Status]='Parking' OR [Status]='Checked-out' OR [Status]='Finished'))
GO
ALTER TABLE [dbo].[ParkingSession] CHECK CONSTRAINT [CK_ParkingSession_Status]
GO
ALTER TABLE [dbo].[PaymentSource]  WITH CHECK ADD  CONSTRAINT [CK_PaymentSource_Status] CHECK  (([Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[PaymentSource] CHECK CONSTRAINT [CK_PaymentSource_Status]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [CK_Request_Status] CHECK  (([Status]='Closed' OR [Status]='Resolved' OR [Status]='InProgress' OR [Status]='Open'))
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [CK_Request_Status]
GO
ALTER TABLE [dbo].[SharedVehicle]  WITH CHECK ADD  CONSTRAINT [CK_SharedVehicle_Duration] CHECK  (([AccessDuration] IS NULL OR [AccessDuration]>(0)))
GO
ALTER TABLE [dbo].[SharedVehicle] CHECK CONSTRAINT [CK_SharedVehicle_Duration]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Email] CHECK  (([Email] like '%_@_%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Email]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Status] CHECK  (([Status]='Banned' OR [Status]='Inactive' OR [Status]='Active' OR [Status]='Deleted'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Status]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_Vehicle_SharingStatus] CHECK  (([SharingStatus]='Pending' OR [SharingStatus]='Shared' OR [SharingStatus]='Unavailable' OR [SharingStatus]='Available'))
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [CK_Vehicle_SharingStatus]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_Vehicle_Status] CHECK  (([Status]='Inactive' OR [Status]='Active' OR [Status]='Deleted'))
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [CK_Vehicle_Status]
GO
USE [master]
GO
